.app-container {
  background-image: url('../public/img/background-image.png'); /* Use the background-image property */
  background-size: cover;
  background-position: center;
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

.h1p1 {
  color: #f2f2f2; /* Lighter color for text */
  font-size: 3em; /* Bigger font size */
  font-weight: 100; /* Lighter font weight */
  text-align: left; /* Align text to the left */
  position: absolute; /* Position the text absolutely */
  left: 140px; /* Adjust the left offset as needed */
  top: 120px; /* Move the text up by 20 pixels */
}

.h2p1 {
  color: #f2f2f2; /* Lighter color for text */
  font-size: 2.6em; /* Bigger font size */
  font-weight: 1000; /* Lighter font weight */
  text-align: left; /* Align text to the left */
  position: absolute; /* Position the text absolutely */
  left: 240px; /* Adjust the left offset as needed */
  top: 170px; /* Move the text up by 20 pixels */
}

.h2p2 {
  color: #f2f2f2; /* Lighter color for text */
  font-size: 2.6em; /* Bigger font size */
  font-weight: 100; /* Lighter font weight */
  text-align: left; /* Align text to the left */
  position: absolute; /* Position the text absolutely */
  left: 420px; /* Adjust the left offset as needed */
  top: 170px; /* Move the text up by 20 pixels */
}

.h3p1 {
  color: #f2f2f2; /* Lighter color for text */
  font-size: 2.6em; /* Bigger font size */
  font-weight: 100; /* Lighter font weight */
  text-align: left; /* Align text to the left */
  position: absolute; /* Position the text absolutely */
  left: 210px; /* Adjust the left offset as needed */
  top: 230px; /* Move the text up by 20 pixels */
}

.h3p1 a {
  color: inherit; /* Set link color to inherit from parent */
  text-decoration: underline; /* Add underline to link */
}

